<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text=${titulo}></title>
</head>

<body>
	<h1 th:text=${nombreCliente}></h1>
	<!--	<div th:if="${listaUsuario.size()==0}"> No exite usuarios en la lista</div>-->

	<div th:if="${listaUsuario.isEmpty()}"> No exite usuarios en la lista</div>

	<!--	<table th:if="${listaUsuario.size() > 0}" )>-->
	<!--	<table th:if="${not listaUsuario.isEmpty()}" )>-->

	<table th:if="${!listaUsuario.isEmpty()}" )>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario: ${listaUsuario}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.email}"></td>
			</tr>
		</tbody>

	</table>
</body>

</html>